@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import "bootstrap_variables";
@import "variables";
@import "wp_tinymce_styles";
@import "responsive_alignment";
@import "../external/boostrap-sass-3.3.5/stylesheets/bootstrap";
@import "../external/select2-4.0.0/css/select2.css";
@import "../external/select2-bootstrap-theme-0.1.0-beta.4/select2-bootstrap.css";

.navbar {
    border: 0;
}
small, .small {
    color: $gray-light;

    a {
        color: $link-color;
    }
}
p.small {
    margin-bottom: 8px;
}
.breadcrumb {
    >li+li:before {
        font: normal normal normal 14px/1 FontAwesome;
        padding: 0 8px;
        content: "\f105";
    }

    li.active a {
        color: $gray-light;
    }
}

.slogan {
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}

.main-header {
    background: url('../images/main-header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: $text-color;
    padding: $buffer-size 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);

    h1 {
        color: $brand-primary-dark;
        font-size: 50px;
    }

    .select2-container--bootstrap .select2-selection {
        font-family: $font-family-base;
    }
}

.buffer-bottom {
    margin-bottom: $buffer-size;
}
.buffer-top {
    margin-top: $buffer-size;
}

.main-footer {
    color: #fff;
    background: $gray;
    box-shadow: 0 1000px 0 1000px $gray;
    padding-top: $buffer-size;
    padding-bottom: $buffer-size / 2;

    .icon {
        font-size: 50px;
        margin-right: 20px;
        margin-top: -14px;
    }
    .text {
        overflow: hidden;
    }

    a {
        color: #fff;
    }

    small, small a {
        color: $gray-lighter;
    }

    .footer-navigation {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}